<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Tests/bootstrap.php" colors="true">
    <php>
        <server name="KERNEL_DIR" value="Tests" />
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>./Tests/Unit</directory>
        </testsuite>

        <testsuite name="functional">
            <directory>./Tests/Functional</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
